@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <img src="~/Content/Images/logo.png" />
    <p class="lead"><b>Your source for movies.</b></p>
</div>

<h3>@ViewBag.Message</h3>

<p>MVC (Mega Video Collection) Movies is your source for information about your favorite movies.  
    Scroll through our huge selection of movies and find the ones you want to watch.  
    Add them to your watchlist for later binging!</p>
